.search-form {
	width: 100%;
	max-width: 700px;

	margin-top: 60px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-form form {
	display: grid;
	grid-template-columns: 3fr 1fr;

	width: 50rem;
	height: 5rem;
	border: 2px solid var(--base-color);
	border-radius: 8px;
}

.search-form form input {
	background-color: var(--text-on-base-color);
	border: none;
	border-radius: 8px;

	color: var(--base-color);
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	padding-left: 8px;
}

.search-form form button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	background-color: var(--base-color);
	transition: background-color 400ms;

	color: var(--text-on-base-color);
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 1.8rem;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

.search-form form button:hover {
	background-color: var(--base-color-dark);
}

.search-form form button span {
	font-family: Material Icons;
	font-size: 2.4rem;
	font-weight: 400;

	margin-right: 6px;
}

.search-form .result-container {
	width: 50rem;
	height: 30rem;

	margin-top: 5rem;

	border: 2px solid var(--base-color);
	border-radius: 8px;
	background-color: var(--text-on-base-color);

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	transition: opacity 300ms;

	padding: 12px;
}

.search-form .result-container.hidden {
	opacity: 0;
}
