header {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 250px;
	height: 250px;
	background-image: url('../../assets/images/blob.svg');

	color: white;
	font-family: Viga, sans-serif;
}

header h2 {
	font-size: 1.2rem;
}

header h1 {
	font-size: 3rem;
}
