footer {
	position: absolute;
	bottom: 0;
	left: 0;

	width: 100%;

	display: flex;
	justify-content: center;
}

footer .text-container {
	width: 550px;
	height: 550px;
	background-image: url('../../assets/images/footer_blob.svg');
	background-position-y: 420px;
	background-repeat: no-repeat;

	display: flex;
	justify-content: center;
	align-items: flex-end;
}

footer h1 {
	color: var(--text-on-base-color);
	font-family: Viga, sans-serif;
	font-size: 1.4em;
	margin-bottom: 16px;
}

footer h1 a {
	color: var(--base-color);
	background-color: white;
	border-radius: 8px;
	padding: 0 4px;
}

@media (max-height: 800px) {
	footer {
		position: relative;

		align-items: center;
		justify-content: center;
		background-color: var(--base-color);

		height: 40px;
		margin-top: 20px;
	}

	footer .text-container {
		background: none;
		width: auto;
		height: auto;
	}

	footer h1 {
		margin: 0;
	}
}
